{% extends 'authenticate/base.html' %}
{% block content %}
	{% load static %}
    
<div class="border p-3 mt-5">
    <h1 class ="text-center m-2">Histórico de Vacinas</h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Vacina</th>
            <th scope="col">Laboratório</th>
            <th scope="col">Dose</th>
            <th scope="col">lote</th>
            <th scope="col">Cód. Vacinador</th>
            <th scope="col">Estabelecimento Saúde</th>
           
          </tr>
        </thead>
        <tbody >
          <tr >
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td  class="p-0 col-sm-0 "><button class="btn btn-danger btn-sm mr-2 ml-2 ">Excluir</button><button class="btn btn-primary btn-sm ">Editar</button></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td  class="p-0"></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td  class="p-0"></td>
          </tr>
           <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td  class="p-0"></td>
          </tr>
        </tbody>
      </table>
    
</div>
{% endblock %}